/.vscode/.cortex-debug.*
*i6.bin
*i6.elf
*i6.map
*.o
*.d

/armgcc/debug/
/armgcc/release/
/armgcc/cmake_install.cmake
/armgcc/CMakeCache.txt
/armgcc/build_log.txt
/armgcc/Makefile
/armgcc/CMakeFiles/
/Debug/
/Release/
/site/
